.footer{
    width: 100%;
    padding-top: 3rem;
}
.footer-inner{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    background-color: rgb(78, 171, 228);
    border-radius: 1rem;
    color: rgb(255, 255, 116);
    padding: 10px;
}
.footer-logo-con{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-logo{
    width: 3rem;
    height: 3rem;
}

.footer-content{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
}
.address-sec{
    width: 30%;
}
.call-con a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-decoration:  none;
    color: rgb(255, 255, 116);
}
.call-con p{
    margin: 2px;
}
.call-icon{
    width: 1rem;
    height: 1rem;
}

@media (max-width: 970px) {
    .address-sec {
        width: 40%;
    }
}
@media (max-width: 810px) {
    .footer-content{
        width: 100%;
        gap: 1rem;
    }
}
@media (max-width: 444px) {
    .footer p{
        font-size: 12px;
    }
    .footer h3{
        font-size: 15px;
    }
}