.landing-sec{
    width: 100%;
    height: 89vh;
}
.landing-inner {
    width: 60%;
    height: 70vh;
    margin: 0 auto;
}
.landing-header{
    width: 100%;
    padding-top: 25%;
    height: 2rem;
    text-align: center;
}   
.landing-header h1{
    color: rgb(255, 255, 116);
}
.landing-header p {
    color: white;
}
.landing-button{
    width:9rem;
    padding: 10px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(78, 171, 228);
    font-weight: bold;
}

.landing-img-con{
    width: 100%;
    height: 86%;
    background-color: aqua;
}
.landing-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

.landing-filter{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(63, 175, 240, 0.1);
    z-index: -1;
}
.landing-background-con{
    position: absolute;
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    z-index: -2;
}
.landing-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
@media (max-width: 490px) {
    .landing-inner{
        width: 80%;
    }
    
}
@media (min-width: 430px) {
    .landing-header{
        padding-top: 2%;       
    }
}