.below-landing-paragraph{
    width: 90%;
    background-color: yellow;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.below-landing-paragraph p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.products-sec{
    width: 100%;
}
.products-sec h3{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(45, 152, 218);
    font-size: 25px;
}
.products-inner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product{
    background-color: rgb(244, 244, 219);
    width: 25%;
    margin: 0 auto;

}
.product-img-con{
    width: 90%;
    height: 12rem;
    margin: 0 auto;
}
.product-img-con-2{
    width: 55%;
    height: 14rem;
    margin: 0 auto;
}
.product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-description{
    margin-bottom: 0;
    text-align: center;
}
.product-name{
    margin-top: 0;
    text-align: center;
}
.product-price{
    text-align: center;
    font-weight: bold;
}
.order-button{
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(107, 199, 67);
    font-weight: bold;
    font-family: cinzel;

}
.button-icon{
    width: 2rem;
    height: 2rem;
}

@media (max-width: 1111px) {
    .product {
        width: 35%;
    }
    .product-img-con-2{
        width: 65%;
    }
}
@media (max-width: 790px) {
    .product{
        width: 50%;
    }
    .product-img-con-2{
        width: 80%;
    }
    .order-button{
        width: 80%;
    }
}
@media (max-width: 520px){
    .products-inner{
        flex-direction: column;
        gap: 3rem;
    }
    .product{
        width: 65%;
        
    }
    .products-sec h3{
        font-size: 17px;
    }
    .product-img{
        border-radius: 10px;
    }
}
@media (max-width: 420px) {
    .product{
        width: 80%;
    }
    .products-sec h3{
        font-size: 15px;
    }
    .product p{
        font-size: 13px;
    }
    .below-landing-paragraph {
        width: 88%;
        font-size: 13px;
        border-radius: 10px;
    }
}