.readings-sec{
    width: 100%;
    height: 90vh;
    background-image: url(../images/readings\ image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.readings-inner{
    width: 50%;
    margin:  0 auto;
    text-align: center;
    color: white;
    font-family: bold;
    z-index: 1;
}

.readings-header{
    padding-top: 24%;
    color: rgb(255, 255, 116);
}

.reading h3{
    padding-top: 2rem;
}
.reading p{
    margin: 0;
}

.readings-filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 93, 123, 0.3);
    z-index: -1;
}

@media (max-width: 430px) {
    .readings-inner{
        width: 80%;
    }
}