.spiritual-services-sec{
    width: 80%;
    padding-top: 3rem;
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.spiritual-service{
    width: 36%;
    padding: 10px;
    background-color: rgb(78, 171, 228);
    border-radius: 10px;
    color: rgb(244, 244, 219);
}
.service-desc{
    width: 99%;
    margin: 0 auto;
    min-height: 30%;
}

.service-img-con{
    width: 80%;
    max-height: 60%;
    margin:  0 auto;
    overflow: hidden;
}
.service-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.short{
    width: 99%;
    max-height: 40%;
}
.service-short-desc{
    width: 99%;
    margin:  0 auto;
    padding-top: 10px;
    height: 20%;
}

.spiritual-alignment{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(78, 171, 228);
    padding: 10px;
    margin-top: 2rem;
    border-radius: 10px;
    color: rgb(244, 244, 219);
}

@media (max-width: 750px) {
    .spiritual-services-sec{
        width: 90%;
    }
    .spiritual-service {
        width: 45%;
    }
}

@media (max-width: 530px) {
    .spiritual-services-sec{
        flex-direction: column;
        gap: 1rem;
    }
    .spiritual-service{
        width: 80%;
        margin: 0 auto;
    }
    .service-img {
        border-radius: 10px;
    }
}